.caraosal__bg{
    height: 40rem;
    background-image: url('../../assets/r.png'), url('../../assets/sec1.jpg');
    background-position: 5% 80%, 60% center;
    background-repeat: no-repeat;
    background-size: 10%, 100%;
}


@media screen  and (max-width:1020px) {
    .caraosal__bg{
        height: 40rem;
        background-image: none;
        background-color: rgb(22, 22, 22);
        color: black;
    }
}
