.footer{
    padding-top: 20px;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.footer_title{
    color:  rgba(184, 217, 250, 0.46);
}

.footer_text{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 25px;
}
